OOP reach encapsulation --> access modifiers ??
    public --< accessed anywhere using object
    protected  --> accessed  inside the class  and derived class
    private  --> inside the class

In [1]:
class Employee:
    def __init__(self, name, email, salary):
        self.name = name
        self.email = email
        self.salary = salary


emp = Employee('John', '<EMAIL>', 1200)

In [3]:
class Employee:
    def __init__(self, name, email, salary):
        self.name = name  # public
        self._email = email  # protected --> _
        self.__salary = salary  # start with __


emp = Employee('John', '<EMAIL>', 1200)

In [4]:
print(emp.name)

John

In [5]:
print(emp._email) # ethically don't do this

<EMAIL>

In [6]:
print(emp.__salary)

AttributeError: 'Employee' object has no attribute '__salary'

In [7]:
print(emp.city)

AttributeError: 'Employee' object has no attribute 'city'

In [8]:
print(emp._Employee__salary) # ethically don't do this

1200

In [9]:
class Employee:
    def __init__(self, name, email, salary):
        self.name = name
        self._email = email
        self.__salary = salary  # private 
        
    # setter , getter 
    def set_salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0:
            self.__salary = salary
        else:
            raise Exception('Salary must be an integer or float greater than 0 ')
        
    def get_salary(self):
        return self.__salary

In [10]:
emp = Employee('John', '<EMAIL>', 1200)

In [11]:
emp.set_salary(2000)

In [12]:
print(emp.get_salary())

2000

In [13]:
emp.set_salary("iti")

Exception: Salary must be an integer or float greater than 0

In [14]:
emp2 =  Employee('John', '<EMAIL>', "abc")

In [15]:
class Employee:
    def __init__(self, name, email, salary):
        self.name = name
        self._email = email
        # self.__salary = salary  # private 
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0:
            self.__salary = salary
        else:
            raise Exception('Salary must be an integer or float greater than 0 ')
        
    # setter , getter 
    def set_salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0:
            self.__salary = salary
        else:
            raise Exception('Salary must be an integer or float greater than 0 ')
        
    def get_salary(self):
        return self.__salary

In [16]:
emp2 =  Employee('John', '<EMAIL>', "abc")

Exception: Salary must be an integer or float greater than 0

In [17]:
class Employee:
    def __init__(self, name, email, salary):
        self.name = name
        self._email = email
        # self.__salary = salary  # private 
        self.set_salary(salary)
        
    # setter , getter 
    def set_salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0:
            self.__salary = salary
        else:
            raise Exception('Salary must be an integer or float greater than 0 ')
        
    def get_salary(self):
        return self.__salary

In [19]:
emp = Employee('John', '<EMAIL>', 1200)
print(emp.get_salary())

1200

In [20]:
emp2= Employee('John', '<EMAIL>', "iti")

Exception: Salary must be an integer or float greater than 0

# python introduce property decorator

In [22]:
class Employee:
    def __init__(self, name, email, salary):
        self.name = name
        self._email = email
        self.set_salary(salary)
        
    # setter , getter 
    def set_salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0:
            self.__salary = salary
        else:
            raise Exception('Salary must be an integer or float greater than 0 ')
        
    @property
    def salary(self):
        return self.__salary

In [24]:
emp = Employee('John', '<EMAIL>', 1200)
print(emp.salary)

1200

In [25]:
emp.salary = "iti"

AttributeError: property 'salary' of 'Employee' object has no setter

# property should be exists so you can create setter

In [26]:
class Employee:
    def __init__(self, name, email, salary):
        self.name = name
        self._email = email
        # self.set_salary(salary)
        self.__salary = salary
        
    @property
    def salary(self):
        return self.__salary
    # setter , getter 
    @salary.setter
    def salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0:
            self.__salary = salary
        else:
            raise Exception('Salary must be an integer or float greater than 0 ')

In [27]:
emp= Employee('John', '<EMAIL>', 1200)
print(emp.salary)
emp.salary = "iti" # property setter

1200

Exception: Salary must be an integer or float greater than 0

In [28]:
class Employee:
    def __init__(self, name, email, salary):
        self.name = name
        self._email = email
        # self.set_salary(salary)
        self.salary = salary  # call property setter while creating object 
        
    @property
    def salary(self):
        return self.__salary
    # setter , getter 
    @salary.setter
    def salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0:
            self.__salary = salary
        else:
            raise Exception('Salary must be an integer or float greater than 0 ')

In [29]:
emp = Employee('ff',"ff",3345)

In [30]:
print(emp.__dict__) # display object structure (properties) dict

{'name': 'ff', '_email': 'ff', '_Employee__salary': 3345}