# tuple is immutable datatype =--> can hold different values from different data types
once created cannot be changed.

to define tuple

In [1]:
t = ()
myt = tuple()
print(type(t), type(myt))

<class 'tuple'> <class 'tuple'>

# tuple can hold differet datatypes --> even a list

In [2]:
myt = (3,'iti', 34.344, 'iti', True, ['python', 'sql'],None, ('iti', 'Data engineering'))
print(myt)

(3, 'iti', 34.344, 'iti', True, ['python', 'sql'], None, ('iti', 'Data engineering'))

get len of tuple

In [3]:
print(len(myt))

8

count element occcurence

In [4]:
print(myt.count('iti'))

2

get index of element ?

In [5]:
print(myt.index('iti')) # get index of the first occurrence

1

loop over elements ?

In [6]:
for element in myt:
    print(f"element={element}")

element=3
element=iti
element=34.344
element=iti
element=True
element=['python', 'sql']
element=None
element=('iti', 'Data engineering')

access tuple items using index

In [7]:
print(myt[4])

True

slicing the tuple

In [8]:
print(myt[2:])

(34.344, 'iti', True, ['python', 'sql'], None, ('iti', 'Data engineering'))

get sql ??

In [10]:
print(myt[5][1])
# myt[5] ==> is a list and you can apply all the rules you worked with before 
myt[5].append('data')
print(myt)

sql
(3, 'iti', 34.344, 'iti', True, ['python', 'sql', 'data'], None, ('iti', 'Data engineering'))

tuple is immutable datatype

In [11]:
print(myt)
myt[2]='updated'
print(myt)

(3, 'iti', 34.344, 'iti', True, ['python', 'sql', 'data'], None, ('iti', 'Data engineering'))

TypeError: 'tuple' object does not support item assignment

check element exists or not in tuple?

In [12]:
print("iti" in myt)

True

concat tuple ?

In [13]:
t1 = ('python', 'sql', 'nosql', 'datawherehouse')
t2 = ('presentation skills', 'communication skills')
t3 = t1  + t2  # return new tuple
print(t3)

('python', 'sql', 'nosql', 'datawherehouse', 'presentation skills', 'communication skills')

join tuple of strings into one string ?

In [14]:
students = ('ahmed', 'mohamed', 'ali', 'sara') # contains strings --> 
newstr = '_'.join(students) # iterable 
print(newstr, type(newstr))

ahmed_mohamed_ali_sara <class 'str'>

# min-max
tuple items must be from the same type

In [15]:
print(min(t1))

datawherehouse

In [16]:
print(max(myt))

TypeError: '>' not supported between instances of 'str' and 'int'

# enumerate

In [ ]:
print(myt)

In [17]:
myt_enum = enumerate(myt)
print(myt_enum)  # enumerate object --> generate index for each item

<enumerate object at 0x745ee2029210>

In [18]:
for index , item in myt_enum:
    print(f"index= {index}, item={item}")

index= 0, item=3
index= 1, item=iti
index= 2, item=34.344
index= 3, item=iti
index= 4, item=True
index= 5, item=['python', 'sql', 'data']
index= 6, item=None
index= 7, item=('iti', 'Data engineering')

cast string to tuple

In [19]:
message= 'hello world'
print(tuple(message))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [20]:
print('_'.join("noha"))

n_o_h_a

check this

In [21]:
students = ('noha')

print(type(students))

<class 'str'>

# tuple of one item

In [22]:
students = ('noha',)
print(type(students))

<class 'tuple'>

# cast list to a tuple and vise versa

In [23]:
items= ['kiwi', 'apple', 'orange', 'banana']
print(items)

['kiwi', 'apple', 'orange', 'banana']

In [24]:
items = tuple(items)

In [25]:
print(items)

('kiwi', 'apple', 'orange', 'banana')

back to list

In [26]:
items = list(items)
print(items)

['kiwi', 'apple', 'orange', 'banana']